body {
    background-color: #f0f0f0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
}

.tab-content{
    display:none;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.tab-content.active{
    display:block;
}

.tab-content h2 {
    margin-top: 0;
}

.tab-content p {
    margin: 5px 0;
}

h1,
h2 {
    color: #333333;
    font-weight: bold;
}

button {
    background-color: #d2d4d5;
    color: #000000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #c2c2c2;
}

button:active {
    transform: translateY(1px);
}

.footer {
    margin: 2px 0;
    right: 10px;
    bottom: 10px;
    left: 10px;

    color: gray;
    font-size: 12px;
    background-color: #f0f0f0;
    padding-top: 6px;
}

.footer p {
    margin: 2px 0;
}